---
import Layout from "../../layouts/Base.astro";
import Intro from "../../components/Intro.astro";

const { id } = Astro.params;
const films = await OneID(id);
if (!films) {
  return Astro.redirect("/films");
}

import { OneID } from "../../../backend/backend.mjs";
const film = await OneID(id);
---

<Layout>
  <Intro
    title="Détails du film"
    image="/src/assets/films.webp"
    texte="Ici nous allons nous intéresser plus en détail à la mise en avant d’un film."
  />
  <div>
    <h2 class="ml-4 mt-5">{film.titre}</h2>
  </div>
  <div>
    <div class="flex justify-center mt-5 mb-7">
      <img src={film.imageUrl} />
    </div>
    <ul class="mr-4 ml-4">
      <li>Réalisateur : {film.realisateur}</li>
      <li>Casting : {film.casting}</li>
      <li>Date de sortie : {film.date_sortie}</li>
      <li>Genre : {film.genre}</li>
      <li>Durée : {film.duree}</li>
      <li>Langue : {film.langue}</li>
      <li>Production : {film.production}</li>
      <li>Date de projection : {film.date_projection}</li>
      <li>Synopsis : {film.synopsis}</li>
      <li>
        <a href={film.bande_annonce} class="text-blue-500 underline">
          Bande annonce
        </a>
      </li>
    </ul>
  </div>
</Layout>
