---
import Layout from "../../layouts/Base.astro";
import Intro from "../../components/Intro.astro";
import { OneIDAct } from "../../../backend/backend.mjs";

const { id } = Astro.params;

const activite = await OneIDAct(id);
console.log(activite);

if (!activite) {
  return Astro.redirect("/activites");
}
---

<Layout>
  <Intro
    title="Activité détaillée"
    image="/src/assets/activites.webp"
    texte="Ici nous allons nous intéresser plus en détail à la mise en avant d’un film."
  />
  <h2>{activite.nom}</h2>
  <img src={activite.imageUrl} />
  <li>Date : {activite.date_et_heure}</li>
  <li>Type d'activités : {activite.type_activite}</li>
  <li>Lieu : {activite.lieu}</li>
  <li>Description : {activite.description}</li>
  <li>
    Invité : {activite.expand?.invites.nom + " "+ activite.expand?.invites.prenom}
  </li>
</Layout>
